@font-face {
  font-family: 'URWGeometric';
  src: url('/fonts/URWGeometricRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Force every element to use this font */
html, body, * {
  font-family: 'URWGeometric', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
