@font-face {
    font-family: 'URW Geometric';
    src: url('../fonts/URWGeometricRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'URW Geometric', sans-serif;
    background: #000;
    min-height: 100vh;
    color: #fff;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000;
}

.content-wrapper {
    flex: 1;
    background: #fff;
    border-radius: 0;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.content-wrapper::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}