
@font-face {
  font-family: "URW Geometric";
  src: url("/fonts/URWGeometricRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.bs-exchange-section {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.bs-exchange-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  color: #0b0d17;
}

.bs-blue-text {
  color: #2663ff;
}

/* Base card */
.bs-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;

  width: 496px;
  min-height: 604px;

  background: #ffffff;
  border: 0.8px solid #E5E7EB;
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

/* BUY CARD */
.bs-buy-card {}

/* SELL CARD */
.bs-bysell-card {}

/* Header */
.bs-card-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

/* Icons */
.bs-icon {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bs-green-icon {
  background: #00A63E;
}

.bs-blue-icon {
  background: #155DFC;
}

.bs-card-description {
  font-size: 14px;
  font-family: "DM Sans";
  color: #6A7282;
}

/* Labels */
.bs-label {
  font-family: "DM Sans";
  font-size: 14px;
  color: #364153;
}

/* Inputs */
.bs-input {
  height: 50px;
  border-radius: 16px;
  border: 1px solid rgba(193, 193, 193, 0.24);
  padding: 12px 16px;
  font-family: "DM Sans";
  font-size: 14px;
  width: 100%;
}
.bs-exchange-grid {
  width: 100%;
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
}

/* Payment options */
.bs-payment-options {
  display: flex;
  gap: 12px;
  width: 100%;
}

.bs-payment-btn {
  height: 70px;
  border-radius: 14px;
  border: 1px solid #C1C1C1;
  font-size: 12px;
  font-family: "DM Sans";
  background: white;
  flex: 1;
}

.bs-payment-btn.bs-active {
  background: rgba(21, 93, 252, 0.05);
  border: 0.8px solid #155DFC;
  box-shadow: 0px 0px 0px 2px rgba(21, 43, 90, 0.2);
  color: #155DFC;
}

/* Info box */
.bs-info-box {
  padding: 16px;
  border-radius: 14px;
}

.bs-blue-info {
  background: #EFF6FF;
  box-shadow: 0px 0px 0px 1px #DBEAFE;
  font-size: 12px;
  font-weight: 700;
  color: #152B5A;
}

.bs-orange-info {
  background: #fff4eb;
  border-left: 4px solid #ff7b1d;
  color: #b85d1d;
}

/* Estimate box */
.bs-estimate-box {
  background: #fafbff;
  border-radius: 12px;
  border: 1px solid #e2e3e8;
  padding: 16px;
}

.bs-estimate-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 6px;
}

.bs-fee-row span:last-child {
  color: #7b7e87;
}

/* Buttons */
.bs-primary-btn {
  width: 100%;
  height: 56px;
  background: #152B5A;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
}
